body {
    font-family: var(--work-sans);
    background-color: var(--color-5);
}

p {
    font-family: var(--work-sans);
    padding: 10px;
    margin: 0;
}

h1 {
    font-family: var(--moon-dance);
    font-size: var(--titre);
    text-align: center;
    padding: 0 80px;
}

h2 {
    font-size: var(--basique-plus);
    display: inline-block;
    background-color: var(--color-3);
    padding: 5px;
    margin: 30px 0 0 30px;
}

a {
    color: black;
    text-decoration: none;
}

button {
    background: none;
    border: none;
    appearance: none;
    outline: none;
  }

.menu__list--unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}