body {
    font-family: var(--work-sans);
    background-color: var(--color-5);
}

p {
    font-family: var(--work-sans);
    padding: 10px;
}

h1 {
    font-family: var(--moon-dance);
    font-size: var(--titre);
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}