:root {
    
/* Color styles */
--color-1: rgba(63, 124, 172, 1);
--color-2: rgba(3, 49, 46, 1);
--color-3: rgba(101, 155, 94, 1);
--color-4: rgba(255, 255, 250, 1);
--color-5: rgba(243, 243, 232, 1);

/* Text-size styles */
/* base size: basique (14px) */
--basique: 1rem;
--bouton: 1.71rem;
--titre: 2.29rem;
--bouton-petit: 1.43rem;
--basique-plus: 1.14rem;
--description: 1.14rem;
--basique-upper: 1rem;
--quote: 1.71rem;
--basique-plus-plus: 1.29rem;
--bouton-petit-plus: 1.57rem;
--menu: 2.86rem;

/* Typography */
--maven-pro: 'Maven Pro', sans-serif;
--moon-dance: 'Moon Dance', cursive;
--petit-formal-script: 'Petit Formal Script', cursive;
--work-sans: 'Work Sans', sans-serif;

}