.footer {
    color: var(--color-4);
    font-size: var(--bouton-petit);
    background-color: var(--color-2);
    padding: 15px;
}

.footer__logo {
    width: 70%;
    margin: 5px 0 0 -35px;
}

.footer__mailto {
    color: var(--color-4);
    margin-right: 150px;
}

.footer__lien {
    color: var(--color-4);
    display: flex;
    margin: 40px 0;
}

.footer__mmi {
    display: flex;
}

.footer__textemmi {
    font-size: var(--basique);
    width: 18em;
    padding: 0;
}

.footer__lienmmi {
    color: var(--color-1);
}

.footer__logommi {
    width: 20%;
    right: 0;
    margin-top: -15px;
}

.footer__reseaux {
    padding: 0;
    margin: 15px 0 0 0;
    display: flex;
    gap: 15px;
    list-style: none;
}

span{
    display: block;
    width: 100%;
    border-top: 1px solid #ccc;
 }