.header {
    z-index: 5;
    background-color: var(--color-3);
    position: fixed;
    top: 0;
    left: 0;
}

.header__logo {
    width: 60%;
}

.header__langue {
    position: absolute;
    width: 12%;
    top: 19px;
    right: 88px;
}

.header__menubtn {
    position: absolute;
    top: 33px;
    right: 20px;
}