.cardlieu {
    margin: 0;
}

.cardlieu__date {
    text-align: center;
}

.cardlieu__img {
    display: block;
    left: 0;
    margin: 0;
    width: 100%;
}

.cardlieu__icon {
    width: 10px;
    margin-left: 5px;
}

.cardlieu__legende {
    display: flex;
    font-size: 12px;
    gap: 5px;
    margin-top: 3px;
}