.cardlieu {
    margin: 0;
}

.cardlieu__date {
    position: absolute;
    z-index: 2;
    top: 225px;
    left: 90px;
    margin: 0;
    font-size: var(--basique);
    font-weight: 400;
}

.cardlieu__underline {
    position: absolute;
    z-index: 2;
    top: 245px;
    left: 105px;
    width: 170px;
    border-top: 2px solid var(--color-3);
}

.cardlieu__img {
    display: block;
    left: 0;
    margin: 0;
    width: 100%;
}

.cardlieu__icon {
    width: 10px;
    margin-left: 5px;
}

.cardlieu__legende {
    display: flex;
    font-size: 12px;
    gap: 5px;
    margin-top: 3px;
}