.carrousel {
    box-sizing: border-box;
    position: relative;
    padding: 5px;
}

.carrousel img {
    display: block;
    margin: 0 auto;
    width: 60%;
}

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    gap: 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carrousel_ecran {
    width: 100%;
    flex: none;
    scroll-snap-align: start;
}

.carrousel_ecran figure {
    margin: 0;
}

.carrousel_btn {
    position: absolute;
    top: 45%; /* centre verticalement */
    transform: translateY(-50%); /* methode du point mort */
    width: 2em;
    height: 2em;
    background: var(--color-2);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: var(--color-3);
    font-family: var(--work-sans);
    font-size: var(--bouton);
}
  
.carrousel_btn-avant {
    left: 15px;
}
  
.carrousel_btn-apres {
    right: 15px;
}

.carrousel a {
    text-decoration: none;
    color: black;
}

.carrousel figcaption {
    text-align: center;
    font-size: var(--basique-plus);
    font-family: var(--petit-formal-script);
    margin-bottom: 10px;
}

.carrousel__indicateur {
    display: flex;
    justify-content: center;
    gap: 7px;
    margin-bottom: 20px;
}

.carrousel__rond {
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: grey;
}

.actif {
    background-color: var(--color-1);
    box-shadow: 0 0 6px #1abc9c;
}