.formulaire {
    font-size: var(--bouton-petit-plus);
    background-color: var(--color-2);
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
}

.formulaire__label {
    color: var(--color-3);
}

.formulaire__input {
    margin: 5px auto 13px;
    border-radius: 5px;
    width: 97.5%;
}

.formulaire__input:focus {
    border-color: #1abc9c;
    box-shadow: 0 0 6px #1abc9c;
    outline: none;
}

.formulaire__submit {
    appearance: none;
    color: var(--color-2);
    background-color: var(--color-3);
    font-weight: 600;
    border-radius: 6px;
    text-transform: uppercase;
    padding: 6px 10px;
}