.menu {
    z-index: 10;
    background-color: var(--color-2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  
  .menu__link {
    color: white;
  }
  

  /* Icone menu Hamburger */
  
  .menubtn {
    z-index: 15;
    width: 40px;
    height: auto;
  }
  
  .menubtn__bar,
  .menubtn__bar::before,
  .menubtn__bar::after {
    content: "";
    background-color: black;
    height: 4px;
    border-radius: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
  }
  
  
  .menubtn__bar::before {
    top: -13px;
  }
  
  .menubtn__bar::after {
    top: 13px;
  }