.menu {
    background-color: var(--color-2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space4x);
  }
  
  .menu__link {
    color: var(--white);
  }
  
  .menu__socialNetworks {
    display: flex;
    gap: 10px;
  }
  
  /* Icone menu Hamburger */
  
  .menubtn {
    width: 30px;
    height: 30px;
  }
  
  .menubtn__bar,
  .menubtn__bar::before,
  .menubtn__bar::after {
    content: "";
    background-color: black;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
  }
  
  
  .menubtn__bar::before {
    top: -10px;
  }
  
  .menubtn__bar::after {
    top: 10px;
  }