.menu {
    z-index: 10;
    background-color: var(--color-2);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.menu__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 100px;
}

.menu__link {
    color: white;
    font-size: var(--menu);
}

.menu__bar {
    display: block;
    width: 70%;
    border-top: 2px solid var(--color-4);
    margin: 25px 0 25px 60px;
}

.menu__open,
.menu__open body {
    overflow: hidden;
}


/* Icone menu Hamburger */
  
.menubtn {
    z-index: 15;
    width: 40px;
    height: auto;
}
  
.menubtn__bar,
.menubtn__bar::before,
.menubtn__bar::after {
    content: "";
    background-color: black;
    height: 4px;
    border-radius: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
    transition: all .4s ease-in-out;
}
  
.menubtn__bar::before {
    top: -13px;
}
  
.menubtn__bar::after {
    top: 13px;
}

.menu__open .menubtn__bar {
    transform: rotate(135deg);
    background-color: white;
}

.menu__open .menubtn__bar::before,
.menu__open .menubtn__bar::after {
    transform: rotate(90deg);
    top: 0;
    background-color: white;
}