.presentation__img {
    width: 56.5vh;
    background-color: white;
    padding: 60px 0;
    margin-top: 56px;
    margin-left: -43px;
}

.presentation__date {
    font-size: var(--basique-plus);
    font-weight: 600;
    z-index: 5;
    position: absolute;
    top: 280px;
    right: 0.5em;
}

.presentation__titre {
    text-align: center;
    font-size: var(--bouton-petit);
    font-weight: 400;
    color: white;
    background-color: var(--color-2);
    padding: 10px 50px;
    margin-top: -20px;
}